<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Manager</title>
  </head>
  <body>
    <h1>Manager Menu</h1>
    <table>
      <thead>
        <th>Buy Orders</th>
      </thead>
      <tbody>
        {% for title in orderTitle %}
        <tr>
          <td>{{title}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <form method="post">
      {{form.hidden_tag()}}
      <br />
      {{form.genre}}
      <br />
      {{form.title}}
      <br />
      {{form.numberAvailable}}
      <br />
      {{form.cost}}
      <br />
      {{form.submit()}}
    </form>
  </body>
</html>
